{{ attach_library('cima_movies/global-css') }}
<h2> Please select movie genre for which you would like to make a reservation: </h2><br>
<select>
  <option disabled selected>Select A Genre</option>
  {% for genre in taxonomy %}
    <option value={{ genre.id }}>{{ genre.name.value }}</option>
  {% endfor %}
</select><br>
<table id="listTable">
  <tr id='firstRow'>
    <th>Title</th>
    <th>Description</th>
    <th>Image</th>
    <th>Genre</th>
    <th>Availability</th>
  </tr>
  {% for movie in movies %}
    {% set title = movie.title.value %}
    {% set description = movie.field_description.value %}
    {% set imageUrl = movie.field_image_movie.entity.uri.value %}

    <tr>
      <td>{{ title }}</td>
      <td>{{ description }}</td>
      <td><img src="{{ file_url(imageUrl) }}"></td>
      <td>
        {% for genre in movie.field_genre %}
          {{ genre.entity.label }}
        {% endfor %}
      </td>
      <td>
        {% for day in movie.field_days %}
          {{ day.entity.label }}
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<div class="modal">
  <div class="modal-overlay modal-toggle"></div>
  <div class="modal-wrapper modal-transition">
    <div class="modal-header">
      <h2 class="modal-heading" id="movieName"></h2>
    </div>
    <div class="modal-body">
      <div class="modal-content">
        <p> Choose a day from available days for this movie</p>
        <div class="days"></div><br>
        <button class="btn">Close</button><br>
        <div class="confirm"></div>
      </div>
    </div>
  </div>
</div>